@charset "utf-8";
/* CSS Document */


::selection {
    background-color: #24b662;
    color: #ffffff;
}

::-moz-selection {
    background-color: #24b662;
    color: #ffffff;
}

/* Portfolio */

.portfolio {}

.portfolio-inner .mix {
    display: none;
}

ul.portfolio {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 8px;
    text-align: center;
}

ul.portfolio li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

ul.portfolio li:hover {
    color: #000;
    border: none;
}

ul.portfolio li.active {
    color: #ffffff;
    background-color: #24b662;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
}

.portfolio .item {
    margin-top: 30px;
    position: relative;
}

.portfolio .item img {
    width: 100%;
}

.item {
    -webkit-transition: .3s;
    transition: .3s;
}

.portfolio .item:hover a:before{
  top: 40%;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

.portfolio .item a:before{
  color: #ffffff;
  content: "\f00e";
  font-family: "FontAwesome";
  text-align: center;
  position: absolute;
  font-size: 25px;
  top: 2%;
  opacity: 0;
  left: 0%;
  right: 0%;
  background-color: #24b662;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

.portfolio .item a:hover:before{
  opacity: 1;
}

.mix .item h2{
	color: #0B85E9;
	text-align: center;
	font-size: 18px;
}

.mix .item p{
	color: #EC650A;
	text-align: center;
	font-size: 18px;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	margin-top: 40px;
    font-size: 50px;
    background-color: #24b662;
    width: 44px;
	right: 0px;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: inherit;
}
